<!-- dashboard.ejs -->
 
 
<%- include('../../views/partials/admin/header')%>
<!-- Content Area -->
<div class="content">
    <h3>Customers List</h3>
    </div>
 <%- include('../../views/partials/admin/footer')%>