<%-include('../partials/user/header')%>

<div class="container py-5">
    <h1 class="text-center mb-4">My Wishlist</h1>

    <!-- Wishlist Item -->
     <% if(wishlist.length>0){ %>
        <% for(let product of wishlist){ %>
    <div class="card mb-3 shadow-sm">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="uploads/product-images/<%= product.productImage[0] %>" alt="Product Image" class="img-fluid rounded-start">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title"><%= product.productName %></h5>
                    <p class="card-text"><span class="fw-bold"><%= product.category.name %></span></p>
                    <% if(product.quantity > 0){ %>
                    <p class="card-text">
                        <small class="text-success fw-bold">In Stock</small>
                    </p>
                    <% } else { %>
                        <p class="card-text">
                            <small class="text-success fw-bold">Out Of Stock</small>
                        </p>
                        <% } %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Price</h5>
                    <p class="card-text"><span class="fw-bold"><%= product.salePrice %></span></p>
     
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <div class="d-flex flex-column gap-2">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-cart-plus"></i> Move to Cart
                    </button>
                    <button class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i> Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% } else { %>
        <div class="d-flex justify-content-center vh-100" style="margin-top:-20%;">
            <div class="card shadow-sm m-auto" style="width: 24rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">No Items Found In Wishlist</h5>
                </div>
            </div>
        </div>
        <% } %>

    <!-- Repeat the above block for each wishlist item -->
</div>

<%-include('../partials/user/footer')%>